
#main {
    
    display: flex;
    align-items: center;
}
button {
    margin-left: 10px;
}
  
  .a {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .b {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    body{
        background-color: rgb(226, 215, 201);
    }

    #infop{
        background-color: white;
        color: black;
        margin: 0px; 
        
        width: 100px; 
        text-align: center; 
        height: 40px;
        line-height:40px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: bolder;

         

    }
    #infod{

        background-color: white;
        color: black;
        width: 60%; 
        height: 150px; 
        margin: 0px; 
        border: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;

    }

#bu {
    height: 270px;
    border-radius: 10px;
    font-size: 40px;
    background-color: white;
    cursor:pointer;
    
}
#bu:hover{
    background-color: rgba(255, 255, 255, 0.651);
}

#login{
    width: 110px;
    height: 30px;
    border-radius: 8px;
    color:black;
    background-color:#ffffff;
    border:0px;
    font-size: 15px;
    cursor:pointer;
    
  
}
#login:hover{
    background-color: rgba(255, 255, 255, 0.651);
}